@import url('../node_modules/bootswatch/dist/yeti/bootstrap.min.css');
@import url('../node_modules/react-toastify/dist/ReactToastify.min.css');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
